.Login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #CEE5D0

&__Login-header{
        width: 20%;
        padding: 20px;
        border: 1px solid #CEE5D0;
        
    }
&__title{
    border-bottom: 1px solid #CEE5D0;
    margin-bottom: 20px;
}
&__user-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
&__option-register{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
&__span{
    color: red;
}
}
