*{
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
.Register{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Register-header{
    width: 20%;
    padding: 20px;
    border: 1px solid #CEE5D0;
}
h1 {
    border-bottom: 1px solid #CEE5D0;
    margin-bottom: 20px;
}

.form-register {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-register input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #CEE5D0

}
.optionLogin{
    display: flex;
    justify-content: space-between;
}
span{
    color: red
}
.input{
    width: 100%;
    display: flex;
    flex-direction: column;
}