*{
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
.userForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.userForm input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #CEE5D0

}
.optionRegister{
    display: flex;
    justify-content: space-between;
}
span{
    color: red
}